@use "./styles/_mixins";
@use "./styles/_variables";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: variables.$white;
}

::-webkit-scrollbar-thumb {
  background: variables.$primary;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: variables.$secondary;
}

::-webkit-scrollbar-button {
  display: none;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: variables.$white;
  color: variables.$black;
  transition: all 0.3s ease;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  transition: filter 0.5s ease;
}

main.blur {
  filter: blur(5px);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: variables.$primary;
  text-decoration: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

button {
  all: unset;
  cursor: pointer;
}

.standard-button {
  width: fit-content;
  min-width: 10rem;
  padding: 0.4rem 1.6rem;
  border-radius: 1rem;
  border: 0.1rem solid variables.$primary;
  color: variables.$primary;
  transition: all 0.3s ease-in-out;
  background-color: variables.$secondary-light;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  &:hover {
    background-color: variables.$primary;
    color: variables.$secondary-light;
  }

  &:focus,
  &:focus-visible {
    outline: 0.4rem auto variables.$primary;
  }
}

h1 {
  font-size: 4.8rem;
  font-weight: 400;
  width: fit-content;
  border-bottom: solid 0.1rem variables.$primary;
  color: variables.$primary;
  margin: 0;
  &:focus {
    outline: none;
  }
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2rem;
}

p {
  margin: 0;
}

small {
  font-size: 1.4rem;
}

textarea {
  resize: none;
}

.container-wide {
  max-width: 192rem;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 162rem;
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.standard-img {
  width: 100%;
  height: auto;
  display: block;
}

.standard-section {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 7rem;
  gap: 7rem;
  align-items: center;
}
// @mixin center-content {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

@media (max-width: 1024px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.standard-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 4rem;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
