:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::-webkit-scrollbar-button {
  display: none;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1.6rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--white);
  color: var(--black);
  transition: all 0.3s ease;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: all;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 0.4rem auto -webkit-focus-ring-color;
  }
}

h1 {
  font-size: 6.4rem;
  &:focus {
    outline: none;
  }
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2rem;
}

small {
  font-size: 1.4rem;
}

textarea {
  resize: none;
}

.container-wide {
  max-width: 192rem;
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 162rem;
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.standard-img {
  width: 100%;
  height: auto;
  display: block;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
